---
layout: default
title: Blog
permalink: /blog/
nav: true
footer: true
---

<section class="columns">

  <div class="two-thirds">

    <!-- <h1 class="title">All blog posts</h1> -->

    <!-- <ul> -->
      {% for post in site.posts %}
        <article>
          <h2><a class="title link visitable" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
          {{ post.excerpt }}
        </article>
        <hr>
      {% endfor %}
    <!-- </ul> -->

    <a class="btn class filled" href="{{ site.baseurl }}/feed.xml">Subscribe via RSS</a>
  </div>

  <div class="third">
    <h3>Archives</h3>

    {% assign tags = '' | split: ',' %}
    {% assign post_tags = site.posts | map: 'tags' | join: ',' | split: ',' | sort %}

    {% for tag in post_tags %}
      {% unless tag == previous %}
        {% assign tags = tags | push: tag %}
      {% endunless %}
      {% assign previous = tag %}
    {% endfor %}

    {% for tag in tags %}
      <span class="tag">{{ tag | upcase }}</span>
    {% endfor %}

  </div>

</section>
