---
layout: page
title: Contact
permalink: /contact/
description: I'm all over the WWW. Here's where I can be found.
parent: About
---

<div style="margin: 1.5rem 0; display: none;">
  <a class="btn pressable pressed" href="#all">All</a>
  <a class="btn pressable" href="#">General</a>
  <a class="btn pressable" href="#design">Designers</a>
  <a class="btn pressable" href="#dev">Developers</a>
  <a class="btn pressable" href="#gaming">Gamers</a>
</div>

<section class="columns">
{% assign contacts = site.data.contact | sort: "title" %}
{% for contact in contacts %}
  {% if contact.username %}
    {% assign username = contact.username %}
  {% else %}
    {% assign username = site.username %}
  {% endif %}
  <article class="third contact {{ contact.class }}">
    <h3 class="title">{{ contact.title }} &bullet; <a href="{{ contact.url }}{{ username }}">{{ username }}</a></h3>
    <p class="contact-text">{{ contact.text }}</p>
  </article>
{% endfor %}
</section>
