---
layout: page
title: Styleguide
description: The design of this website follows a typographical grid of with a base set to <strong>16px</strong>.
permalink: /styleguide/
colophon: true
stylesheet: styleguide
---

<!-- <p><button class="btn">Toggle outlines</button></p> -->

<article>
  <div class="divider">TYPOGRAPHY</div>
  <h1>Page title <small>32px / 48px</small></h1>
  <h2>Section heading <small>21px / 24px</small></h2>
  <h3>Item title <small>18px / 24px</small></h3>
  <h4>Item subheading <small>16px / 24px</small></h4>
  <h5>Component text <small>12px / 24px</small></h5>
  <p>Paragraph text and all other standard blocks of text <small>16px / 24px</small></p>
</article>

<article>
  <div class="divider">COLORS</div>
  {% assign colors = "foreground background primary accent" | split: " " %}
  {% assign colorNames = "Coal Iron Gunpowder Hibiscus" | split: " " %}
  {% assign mixes = "tint tone shade" | split: " " %}
  <div class="columns">
  {% for mix in mixes %}
    {% for color in colors %}
    <div class="quarter palette {{ color }} {{ mix }}" data-label="{{ color }} {{ mix | remove: "tone" }}"></div>
    {% endfor %}
  {% endfor %}
  </div>
</article>

<article>

  <div class="divider">GRID SYSTEM</div>

  <div class="columns">
    <div class="placeholder full">1</div>

    <div class="placeholder half">&frac12;</div>
    <div class="placeholder half">&frac12;</div>

    <div class="placeholder third">&frac13;</div>
    <div class="placeholder third">&frac13;</div>
    <div class="placeholder third">&frac13;</div>

    <div class="placeholder quarter">&frac14;</div>
    <div class="placeholder quarter">&frac14;</div>
    <div class="placeholder quarter">&frac14;</div>
    <div class="placeholder quarter">&frac14;</div>

    <div class="placeholder two-thirds">&frac23;</div>
    <div class="placeholder third">&frac13;</div>

    <div class="placeholder three-quarters">&frac34;</div>
    <div class="placeholder quarter">&frac14;</div>
  </div>

</article>

<article>
  <div class="divider">BASIC ELEMENTS</div>

  <h3>Buttons</h3>
  <p>
    <button class="btn large">Large and in charge</button>
    <button class="btn large accent">Large and accented</button>
  </p>
  <p>
    <button class="btn ">Default</button>
    <button class="btn filled">Filled</button>
    <button class="btn accent">Accent</button>
    <button class="btn accent filled">Accent filled</button>
  </p>
  <p>
    <button class="btn pressable ">Pressable</button>
    <button class="btn pressable pressed">Pressed</button>
    <button class="btn pressable accent">Accent pressable</button>
    <button class="btn pressable accent pressed">Accent pressed</button>
  </p>

  <h3>Paragraph</h3>
  <p>Hipster ipsum is no longer cool; this is being used ironically <em>italicized</em>. Migas celiac tousled, photo booth tote bag before they sold out <mark>highlighted</mark> selfies bushwick offal. Do you write <code>&lt;code&gt;</code>? Fanny pack flexitarian mumblecore, you probably haven't heard of them trust fund squid chillwave. Retro yuccie banh mi, <a class="link" href="#">hyperlink</a> before they sold out kale chips irony flexitarian literally wolf crucifix. Photo booth bitters offal, iPhone letterpress disrupt microdosing <strong>bold</strong> jean shorts.</p>

  <h3>Lists</h3>
  <ul>
    <li>Unordered list</li>
    <li>Orderless is this list</li>
    <li>This list is disordered</li>
    <li>Anarchy list</li>
  </ul>
  <ol>
    <li>Ordered list</li>
    <li>This list is ordered</li>
    <li>Maybe, too ordered...</li>
  </ol>

  <h3>Blockquote</h3>
  <blockquote>
    <p>Trying to read this blockquote will hurt your head. Mustache seitan vinyl, you probably haven't heard of them food truck cred leggings echo park artisan gochujang heirloom hashtag forage small batch church-key. Pickled <a class="link" href="#">another link</a> bottle gastropub, fap pop-up pabst lomo man bun mlkshk truffaut cardigan mixtape distillery bike.</p>
  </blockquote>

</article>
