---
layout: default
title: Work
permalink: /work/
nav: true
footer: true
---

<section class="columns">

  {% assign sizes = site.works | group_by: "size" | reverse %}
  {% for size in sizes %}
    {% assign projects = size.items | sort: "year" | reverse %}
    {% for project in projects | limit: 6 %}
      {% include work.html use = project %}
    {% endfor %}
  {% endfor %}

  {% assign project = projects[3] %}

  {% include work.html use=project class="extended" %}
  {% include work.html use=project class="two-thirds" %}

  <div class="full divider">STUFF</div>

  {% include work.html use=project class="half" %}
  {% include work.html use=project class="half" %}

  <hr class="full">

  {% include work.html use=project class="two-thirds" %}
  <div class="columns third">
    {% for count in (1..2) %}
      {% assign project = projects[count] %}
      {% include work.html use=project class="child" %}
    {% endfor %}
  </div>
  <a class="half btn large filled accent" href="/hire/" style="margin-top: 1.5rem">Let's make something, together</a>

</section>
