---
title: New York Fashion Week
category: kiosk app
size: full
tags: HTML CSS JS PHP
role: Application Developer
columns: true
summary: "Passersby at this event needed two things: a show schedule and a selfie booth. With my help they weren't fashionably late, just fashionable."
highlight: true
thumb:
  ext: jpg
  credit: Photo from
  author: "@NYFW's Twitter"
  src: https://twitter.com/nyfw/status/698190416621993984
data:
- byline: "Valentina Espinoza (@lavalespinoza)"
  caption: "Aquí, #StrikingAPose en los backstage a de #NYFW16 con @vanirosenthal #Intel 📷: #iPhone6s"
  url: BByamDTJs0f
  datetime: 2016-02-15T01:02:03+00:00
  time: Feb 14, 2016 at 5:02pm PST
  class: half

- byline: "The People&#39;s Muse (@afroista)"
  caption: "#latergram Yesterday was filled with so much visual stimulation😻 🔑Color of the season: Mauve🔑 #NYFW #intel #lookone #layers"
  url: BBtURRZy1k-
  datetime: 2016-02-13T01:30:35+00:00
  time: Feb 12, 2016 at 5:30pm PST
  class: half

- byline: "Kira Stuger (@kirastuger)"
  caption: "OH lord .. Here I go again.. I couldn&#39;t leave the #moynihanstation without getting a selfie from #Intel #nyfw #funafterwork #thankful #nyc #kirastuger #blessed"
  url: BByfVqVHqZh
  datetime: 2016-02-15T01:43:30+00:00
  time: Feb 14, 2016 at 5:43pm PST
  class: third

- byline: "Bullettrun (@bullettrun)"
  caption: "Behind the scenes moments before our show. BULLETTRUN performed at New York Fashion Week for Intel on behalf of Milk Studios in Rag&Bone clothing. #nyfw, #bullettrun, #Parkour, #intel, #milkstudios, #rag_bone, #parkourdiversity, #newyorkcity,#underworldmovement"
  url: BBvIOYayq9t
  datetime: 2016-02-16T02:54:21+00:00
  time: Feb 15, 2016 at 6:54pm PST
  class: third

- byline: "f.e.a (@stylebyfea)"
  caption: "Thank you #INTEL for the selfie 😛😛😛 #nyfw #newyorkfashionweek #itssocold #feaandthecity2"
  url: BBva1eLO3gV
  datetime: 2016-02-13T21:06:26+00:00
  time: Feb 13, 2016 at 1:06pm PST
  class: third
---

<br><br>

<figure class="figure figure--lighten full">
  <img class="figure-image" src="/cdn/nyfw/kiosks-measured.png">
  <figcaption class="figure-credit">Front (selfie booth) &amp; Back (schedule)</figcaption>
</figure>


### Problems

There

<div class="divider full">PHOTOS</div>

{% for instagram in page.data %}
  {% include instagram-embed.html use=instagram %}
{% endfor %}

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

https://twitter.com/KKelsen/status/698875759587414016

https://twitter.com/KimberlyKline/status/697826154221281281

https://twitter.com/Tiffy_Lacel/status/700054791695831041

https://twitter.com/JoeTexOnline/status/699733756647776257


### Meh
https://www.instagram.com/p/BB1MPaxHLDK/
https://www.instagram.com/p/BBvIOYayq9t/
https://www.instagram.com/p/BBvJBTJSq_1/
https://www.instagram.com/p/BBxCkNUsiZa/
https://www.instagram.com/p/BBteseVOHUZ/
https://www.instagram.com/p/BBzuNEYvplM/
https://www.instagram.com/p/BB0rfX0MiV5/
https://www.instagram.com/p/BB_BZ5mvDDr/
https://www.instagram.com/p/BB6fTrlnjmT/
https://www.instagram.com/p/BB1DJMnGiw6/
