<blockquote class="instagram-media instagram-embed {{ include.use.class }}" data-instgrm-captioned data-instgrm-version="7">
  <div class="instagram-embed__padding">
    <div class="instagram-embed__caption">
      <div class="instagram-embed__logo"></div>
    </div>
    <p class="instagram-embed__margins">
      <a class="instagram-embed__caption-text" href="https://www.instagram.com/p/{{ include.use.url }}/">{{ include.use.caption }}</a>
    </p>
    <p class="instagram-embed__meta">A photo posted by {{ include.use.byline }} on <time class="instagram-embed__time" datetime="{{ include.use.datetime }}">{{ include.use.time }}</time></p>
  </div>
</blockquote>
