html {
  background: #fff;
  color: #111;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 720px;
  margin: 1em auto;
  padding: 0 1em;
  line-height: 1.4;
  background: inherit;
}

a {
  color: #d80;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  margin: 0 0 0 1em;
  list-style: none;
}

header ul li:first-child {
  margin: 0;
  flex: 1;
}

main header p {
  font-size: 1.3333em;
  opacity: .75;
}

blockquote {
  border-left: 0.125em solid;
  margin: 0;
  padding: 1px 1em;
  font-style: italic;
  font-size: 0.85em;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #eee;
  }

  a {
    color: #fc0;
  }
}

