.availability {
  @include transition(transform);
  background: palette(background);
  height: $line-height * 5;
  line-height: $line-height * 5;
  text-align: center;
  border-radius: 50%;
  position: relative;
  // backface-visibility: hidden;
  &::before,
  &-text {
    @include font-size(large);
    font-family: $alt-font-stack;
  }
  &::before {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
  &:nth-of-type(2) {
    // background: palette(foreground, tint);
    background: palette(background, shade);
    // color: palette(background, tint);
    opacity: .2;
    transform: scale(.2);
  }
  &:hover {
    &::before {
      content: 'Busy';
    }
    .availability-text {
      opacity: 0;
    }
  }
  @at-root :last-child {
    .availability:first-child {
      opacity: .7;
      transform: scale(.8);
    }
    .availability:last-child {
      opacity: .5;
      transform: scale(.6);
    }
  }
}
