.avatar {
  border-radius: 50%;
  display: block;
  width: 100%;
  &.floater {
    float: left;
    margin-right: $base-unit * 3;
    // height: $line-height * 9;
    // margin: $line-height;
    // transform: translateX(-$line-height);
    shape-outside: circle();
  }
}
