.figure {
  position: relative;

  &-image {
    width: 100%;
  }

  &-credit {
    @include font-size(small);
    background-color: transparentize(palette(background, tint), .4);
    bottom: 0;
    color: palette(foreground, shade);
    padding: 0 .33em;
    position: absolute;
    right: 0;
  }

  &--lighten {
    @include transition(background-color);
    background-color: white;
    background-image: radial-gradient(#fff 30%, transparent);
    &:hover {
      background-color: white;
    }
  }
}
