.work {
  background: palette(primary, shade);
  // border-radius: 4px;
  overflow: hidden;
  position: relative;

  &.full {
    height: $line-height * 20;
  }

  &.half {
    height: $line-height * 9;
  }

  &.third {
    height: $line-height * 6;
  }

  &.third,
  &.two-thirds {
    height: $line-height * 13;
  }

  &.child {
    width: 100%;
  }

  &-figure {
    @extend %absolute-centered;
    @include transition(filter);
    border-radius: inherit;
    bottom: auto;
    filter: grayscale(.9) brightness(.4) opacity(.3);
    width: 100%;
    // image-rendering: -moz-crisp-edges;
    // image-rendering:   -o-crisp-edges;
    // image-rendering: -webkit-optimize-contrast;
    // image-rendering: crisp-edges;
    // -ms-interpolation-mode: nearest-neighbor;
  }

  &-category,
  &-title {
    @include transition(transform);
    height: $line-height;
    left: $base-unit;
    margin: 0;
    position: absolute;
    text-shadow: palette(primary, shade) 0 0 10px;
    z-index: 2;
  }

  &-category {
    bottom: $line-height;
    color: palette(background, shade);
    text-transform: uppercase;
  }

  &-title {
    bottom: $line-height * 2;
    color: palette(background, tint);
  }

  &:hover {
    .work {
      &-category,
      &-title {
        transform: translateY($line-height * 3);
      }

      &-figure {
        filter: none;
      }
    }
  }
}
