---
import BaseLayout from '../layouts/base.astro';
const title = "Blog";
const description = "Some recent reflections, covering most aspects of my life.";
const entries = await Astro.glob('./blog/*.md');
const sortByDate = (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf();
const filteredEntries = entries.filter((entry) => entry.frontmatter.published).sort(sortByDate);
---

<BaseLayout content={{ title, description }}>
  {filteredEntries.map(({ url, frontmatter: { title, description, date } }) => 
    <p>
      <strong>{title}</strong> -
      <span>{description}</span>
      <br>
      <a href={url}>
        <date>{ new Date(date).toLocaleDateString('en-us', {
          year: "numeric",
          month: "long",
          day: "numeric",
        }) }</date>
      </a>
    </p>
  )}
</BaseLayout>