---
// years.map((x) => <p>{JSON.stringify(x)}</p>)
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const title = "Blog";
const description =
  "Some recent reflections, covering most aspects of my life.";
const entries = await getCollection("years");
---

<MainLayout content={{ title, description }}>
  {
    entries.reverse().map((entry) => (
      <p>
        <a href={`/${entry.slug}`}>{entry.data.title}</a>
      </p>
    ))
  }
</MainLayout>
