---
import BaseLayout from '../layouts/base.astro';
import socials from '../data/socials.json';
const title = 'Contact';
const updated = new Date('2021-06-29');
---

<BaseLayout content={{title, updated}}>
  <p>You can find me in several places in the internet, often as <strong>@sdvim</strong>.</p>
  {socials.map(({ url, title, description }) => (
    <p>
      <a href={url}>{title}</a>: {description}
    </p>
  ))}
</BaseLayout>