.primary.tint::before {
  background-color: #505b77;
  content: "hsl(222, 20%, 39%)";
  color: #eeeff1; }

.primary.tone::before {
  background-color: #3d465c;
  content: "hsl(222, 20%, 30%)";
  color: #eeeff1; }

.primary.shade::before {
  background-color: #2b3140;
  content: "hsl(222, 20%, 21%)";
  color: #eeeff1; }

.accent.tint::before {
  background-color: #d55862;
  content: "hsl(355, 60%, 59%)"; }

.accent.tone::before {
  background-color: #cc3340;
  content: "hsl(355, 60%, 50%)"; }

.accent.shade::before {
  background-color: #a72a34;
  content: "hsl(355, 60%, 41%)"; }

.foreground.tint::before {
  background-color: #373b43;
  content: "hsl(222, 10%, 24%)";
  color: #eeeff1; }

.foreground.tone::before {
  background-color: #22252a;
  content: "hsl(222, 10%, 15%)";
  color: #eeeff1; }

.foreground.shade::before {
  background-color: #0e0f11;
  content: "hsl(222, 10%, 6%)";
  color: #eeeff1; }

.background.tint::before {
  background-color: #eeeff1;
  content: "hsl(222, 10%, 94%)"; }

.background.tone::before {
  background-color: #d5d7dd;
  content: "hsl(222, 10%, 85%)"; }

.background.shade::before {
  background-color: #bcbfc8;
  content: "hsl(222, 10%, 76%)"; }

.palette {
  font-size: 0.875rem;
  color: #0e0f11;
  height: 12rem;
  line-height: 12rem;
  text-align: center; }
  .palette::before {
    box-sizing: content-box;
    display: block;
    height: 100%;
    margin: -1px;
    padding: 1px;
    width: 100%; }
  .palette:hover::before {
    content: attr(data-label);
    text-transform: capitalize; }
