@charset 'utf-8';
@import
'common/variables',
'common/functions',
'common/mixins',
'common/base',
'common/placeholders',
'common/helpers',
'sections/header',
'sections/footer',
'sections/columns',
'sections/settings',
'sections/xray',
'components/logocube',
'components/avatar',
'components/instagram-photo',
'components/link',
'components/figure',
'components/availability',
'components/button',
'components/contact',
'components/speech',
'components/work',
'components/tag',
'components/typewriter',
'components/divider';

// responsive.scss

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .grid {
    background-image: none;
  }

  .header-nav {
    // flex-wrap: wrap;
    height: 12rem;
    justify-content: center;
    padding-top: 6rem;
  }

  .logocube-text {
    &.animated {
      span {
        margin-left: .2rem;
        margin-top: .5rem;
      }
    }

    &:nth-child(2) {
      // opacity: 0;
      margin-right: 0;
    }
  }

  .logocube {
    flex-shrink: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 18rem;
  }

  .header-link {
    padding: 0 .75em;
  }

  .hacky {
    order: -1;

    .avatar {
      margin: 0 auto;
    }
  }

  .center-phone {
    text-align: center;
  }

  .wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }

  .columns {
    &,
    .columns {
      margin: 0;

      > * {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
  }
}

//  264px --- 24 * 11
//  552px --- 24 * 23
//  840px --- 24 * 35
// 1128px --- 24 * 47




// shame.scss
