@charset 'utf-8';
@import 'common/variables', 'common/functions', 'common/mixins';

@each $palette, $value in $palettes {
  $mixes: 'tint', 'tone', 'shade';
  @each $mix in $mixes {
    .#{$palette}.#{$mix}::before {
      background-color: palette($palette, $mix);
      content: '#{hsl-string(palette($palette, $mix))}';
      @if (lightness(palette($palette, $mix)) <= 40) {
        color: palette(background, tint);
      }
    }
  }
}

.palette {
  @include font-size(small);
  color: palette(foreground, shade);
  height: $line-height * 8;
  line-height: $line-height * 8;
  text-align: center;

  &::before {
    box-sizing: content-box;
    display: block;
    height: 100%;
    margin: -1px;
    padding: 1px;
    width: 100%;
  }

  &:hover::before {
    content: attr(data-label);
    text-transform: capitalize;
  }
}
