$grid-margin: $base-unit / 2;
// $grid-margin: 0px;
$fractions: ( 'quarter': 25%, 'third': 33.333%, 'half': 50%, 'two-thirds': 66.666%, 'three-quarters': 75% );

.columns {
  & & {
    margin: 0;
  }
  display: flex;
  flex-wrap: wrap;
  margin: 0 #{-$grid-margin} #{-$grid-margin*2};
}

%grid-margins {
  margin: 0 $grid-margin $grid-margin * 2;
}

.orphan {
  @extend %grid-margins;

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.full {
  @extend %grid-margins;
  width: 100%;
  @at-root .gutterless & {
    margin: 0;
  }
}
@each $fraction, $percent in $fractions {
  .#{$fraction} {
    @extend %grid-margins;
    width: calc(#{$percent} - #{$grid-margin * 2});

    &.columns {
      width: $percent;
    }
  }
}

.divider {
  &.full {
    height: 2px;
    line-height: 2px;
  }
}

.divider,
hr {
  &.full {
    margin-bottom: calc(#{$grid-margin * 4} - 1px);
    margin-top: calc(#{$grid-margin * 2} - 1px);
  }
}

.placeholder {
  @extend .grid.line;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 0 0 1px rgba(0, 0, 0, .1);
  line-height: $base-unit * 5;
  text-align: center;
}
