.footer {
  // @extend .grid;
  @include font-size(small);
  background-color: palette(primary);
  background-position: top center;
  box-shadow: 0 1px inset, 0 -1px, 0 -10px 20px palette(background, tint);
  color: palette(primary, tint);
  margin-top: $line-height * 2;
  padding: $line-height 0;

  &-link {
    color: palette(background);
    display: block;
    opacity: .5;

    &:hover {
      color: palette(background, tint);
      opacity: 1;
    }
  }

  &-heading {
    box-shadow: 0 1px, inset 0 -1px;
    margin-top: 0;
  }

  &-icon {
    @include transition;
    fill: currentColor;
    float: left;
    height: $base-unit;
    margin-right: $base-unit;
    width: $base-unit;

    &:hover {
      transform: rotate(90deg);
    }
  }

  .lead {
    color: palette(background, tint);
  }
}
