.header {
  font: 500 fontsize(small) $alt-font-stack;
  margin-bottom: $line-height * 2;

  .logocube {
    color: palette(primary);
    margin-left: 0;
  }

  &-nav {
    display: flex;
    line-height: $line-height * 4;
  }

  &-link {
    @include transition(color);
    color: palette(primary);
    line-height: inherit;
    margin-left: 0;
    padding: 0 $base-unit * 1.5;
    position: relative;
    text-transform: uppercase;

    &::before {
      @extend %absolute-centered;
      background: palette(accent, tint);
      box-sizing: content-box;
      content: '';
      height: $line-height * 2;
      opacity: 0;
      padding: 1px 0;
      transform: skewX(-8deg) scaleX(0);
      transform-origin: right;
      transition: inherit;
      transition-property: opacity, transform;
      width: 80%;
      z-index: -1;
    }

    &.active {
      cursor: default;
    }

    &.active,
    &:hover {
      color: palette(accent, shade);

      &::before {
        opacity: .5;
        transform: skewX(-8deg) scaleX(1);
        transform-origin: left;
      }
    }
  }
}
