---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for work in works | reverse %}
    {%- set absoluteWorkUrl %}{{ work.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteWorkUrl }}",
      "url": "{{ absoluteWorkUrl }}",
      "title": "{{ work.title }}",
      "content_html": {% if work.description %}{{ work.description | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ work.date }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
