---
title: Blog
eleventyNavigation:
  key: Blog
---

{%- for entry in collections.blog | reverse %}
<p>
  <strong>{{ entry.data.title }}</strong> -
  <span>{{ entry.data.description }}</span>
  <br>
  <a href="{{ entry.url | url }}">
    <date>{{ entry.date | stringDate }}</date>
  </a>
</p>
{%- endfor %}
