.grid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAABlBMVEUAAAAjHyBpWG8gAAAAAnRSTlMAGRL4ZfgAAAARSURBVAjXY2hgYGSgEQCZDQAxvgEDB/rxNgAAAABJRU5ErkJggg==');
  background-position: 50% 0;

  &.line {
    $white: rgba(0, 0, 0, .02);
    background-image: linear-gradient($white 2px, transparent 0), linear-gradient($white 2px, transparent 0), linear-gradient(to right, $white 2px, transparent 0), linear-gradient(to right, $white 2px, transparent 0);
    background-position: calc(50% - 1px) -1px, calc(50% - 1px) -1px;
    background-size: 7.5rem 7.5rem, 1.5rem 1.5rem;
  }

  main {
    background: palette(background, tint);
    box-shadow: 0 0 0 4px palette(background, tint);
  }
}

.center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 0;
  opacity: 1;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: $base-unit * 35;
  //  264px --- 24 * 11
  //  552px --- 24 * 23
  //  840px --- 24 * 35
  // 1128px --- 24 * 47
}

.lead {
  @include font-size(large);
  color: palette(foreground, tint);
  font-style: italic;
}

.snippet {
  @include font-size(small);
}

.meta {
  @include font-size(small);
  font-family: $code-font-stack;
  margin-top: $line-height;
  opacity: .5;
}

.thumbnail {
  opacity: .5;

  svg {
    display: block;
    height: auto;
    width: 100%;
  }

  path {
    fill-opacity: 0;
    stroke: palette(primary, tint);
  }
}
