$font-stack:          ('Titillium Web', 'Source Sans Pro', sans-serif);
$alt-font-stack:      (Montserrat, sans-serif);
$code-font-stack:     (Roboto Mono, Inconsolata, monospace);

$line-height:         1.5rem;

$font-sizes: (
  'tiny':             .75rem,
  'small':            .875rem,
  'medium':           1rem,
  'bigger':           1.125rem,
  'large':            1.3125rem,
  'huge':             2rem
);

// Grids

$base-unit:           $line-height;
$section-unit:        $base-unit * 3;
$breakpoints: (
  'tiny':             $section-unit * 5,
  'small':            $section-unit * 7.5,
  'medium':           $section-unit * 10,
  'large':            $section-unit * 15,
  'huge':             $section-unit * 20
);

// Color

$colors: (
  'iron':             hsl(222, 10%, 85%),
  'coal':             hsl(222, 10%, 15%),
  'gunpowder':        hsl(222, 20%, 30%),
  'hibiscus':         hsl(355, 60%, 50%)
);

$palettes: (
  'primary':          'gunpowder',
  'accent':           'hibiscus',
  'foreground':       'coal',
  'background':       'iron'
);
$palette-strength:    9%;
